@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700;900&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

:root {
  --main-color: #191a19;
  --second-color: #150050;
  --third-color: #3f0071;
  --fourth-color: #610094;
  --fifth-color: #9f03f3;
  --text-color: #b1b1b1;
  --offmain-color: #111111;
  --shadow-color: black;
  --offtext-color: #5a5a5a;
}

body {
  margin: 0;
  background-color: var(--main-color);
  overflow-x: hidden;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--fourth-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--fifth-color);
}

section h1 {
  background-image: linear-gradient(
    90deg,
    var(--text-color) 17%,
    var(--fifth-color) 20%,
    var(--text-color) 23%
  );
  background-size: 500%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: title-anim 6s infinite;
  margin-top: 0;
}

@keyframes title-anim {
  0% {
    background-position: right;
  }

  100% {
    background-position: left;
  }
}

.section {
  opacity: 0%;
  transform: translateY(-10%);
  transition: 0.5s ease;
  position: relative;
}

.section.show {
  opacity: 100%;
  transform: translateY(0%);
}

.section .extending-lineL {
  background-color: var(--fifth-color);
  height: 5px;
  width: 0;
  position: absolute;
  top: 30px;
  left: 0;
  transition: width 1s;
}

.section .extending-lineR {
  background-color: var(--fifth-color);
  height: 5px;
  width: 0;
  position: absolute;
  top: 30px;
  right: 0;
  transition: width 1s;
}

.extLine.showing {
  width: calc(50% - 150px);
}

/* ------------- Navbar -------------- */

.nav {
  margin: 0;
  padding: 0.5rem 0;
  background-color: var(--main-color);
  display: flex;
  justify-content: flex-end;
  height: fit-content;
  position: fixed;
  z-index: 5;
  width: 100vw;
  transition: background-color 0.4s;
}

.nav .links-container ul {
  display: flex;
  list-style: none;
}

.nav .links-container {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 10vw;
}

.nav .links-container ul li a {
  font-size: 24px;
  color: var(--text-color);
  text-decoration: none;
  margin: 15px 1rem;
}

.nav .hamburger-menu {
  color: var(--text-color);
  font-size: 40px;
  position: absolute;
  top: 15px;
  right: 10%;
  border: 5px solid var(--fourth-color);
  padding: 10px;
  border-radius: 10px;
  display: none;
  transition: background-color 0.4s;
  z-index: 100;
}

.nav .hamburger-menu.visible {
  display: flex;
}

.nav .hamburger-menu:hover {
  background-color: var(--fourth-color);
  cursor: pointer;
}

.nav .navLink {
  display: inline-block;

  text-decoration: 4px underline;
  background-image: linear-gradient(0.25turn, transparent, var(--fifth-color));
  background-size: 0 4px, 100% 4px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.2s linear;
}

.nav .navLink:hover {
  /* text-shadow: 0 0 20px var(--fifth-color); */
  background-size: 100% 4px, 0 4px;
}

.nav .btn {
  margin-left: 20px;
}

.dropdown-container {
  font-size: 40px;
  position: absolute;
  top: 100px;
  right: 0;
  text-align: right;
  line-height: 5rem;
  background-color: var(--offmain-color);
  width: 100vw;
  transition: 0.5s;
  height: 0;
  overflow: hidden;
}

.dropdown-container.dropdown {
  height: 330px;
}

.links-container.hidden {
  display: none;
}

.dropdown-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  right: 10%;
}

.dropdown-container ul a {
  text-decoration: none;
  color: var(--text-color);
}

.dropdown-container ul li a {
  transition: color 0.4s;
}

.dropdown-container ul li a:hover {
  color: var(--fourth-color);
  cursor: pointer;
}

.resume {
  color: var(--fifth-color);
}

.btn {
  font-weight: 700;
  padding: 0.75rem 1.5rem;
  border: 3px solid var(--fourth-color);
  border-radius: 20px;
  transition: background-color 0.3s;
  width: fit-content;
  user-select: none;
  background-color: var(--main-color);
}

.btn a {
  font-size: 24px;
  color: var(--text-color);
  text-decoration: none;
  margin: 0 1rem;
}

.btn:hover {
  background-color: var(--fourth-color);
  cursor: pointer;
}

.switch {
  margin: 15px 10px 0;
  position: relative;
  display: inline-block;
  width: 70px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(104, 104, 104);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(255, 255, 255);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch .fa-solid {
  position: absolute;
  content: '';
  font-size: 24px;
  top: 5px;
  bottom: 4px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch .fa-sun {
  left: 8px;
  color: rgb(255, 255, 0);
  opacity: 0%;
  cursor: pointer;
}

.switch .fa-moon {
  right: 12px;
  color: #0252ff;
  cursor: pointer;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ------------- Heading -------------- */

.heading-wrapper {
  width: 100vw;
  overflow: hidden;
}

.header {
  background-color: var(--main-color);
  height: 92.3vh;
  margin-top: 0;
  display: grid;
  overflow: hidden;
}

.header-container {
  margin: 0 20vw;
  align-items: center;
}

.me-text {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  margin: 0 0 2rem 0;
}

.me-text .me-intro {
  font-size: 35px;
}
.me-text .me-name {
  font-size: 125px;
  margin-left: -0.6rem;
}

.me-text .me-desc {
  font-size: 50px;
  color: var(--fifth-color);
  margin-left: -0.2rem;
  text-shadow: 0 0 10px var(--main-color);
}

.text-container {
  position: absolute;
  width: 70vw;
  top: 32%;
}

.line-container {
  position: relative;
  top: 0;
  height: 92vh;
}

.CTA-container {
  display: flex;
  align-items: center;
}

.CTA-container .socials {
  color: var(--text-color);
  margin: 0 1rem;
  font-size: 2.5rem;
  transition: color 0.4s;
}

.CTA-container .socials:hover {
  color: var(--fifth-color);
  cursor: pointer;
}

.CTA-container .contact-button {
  margin-right: 2rem;
}

@media (max-width: 1126px) {
  .text-container {
    top: 27%;
  }
}

@media (max-width: 686px) {
  .text-container {
    top: 23%;
    width: 100vw;
    text-align: center;
  }
  .header-container {
    margin: 0;
  }
  .CTA-container {
    flex-direction: column;
  }
  .CTA-container .contact-button {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 2rem;
  }
}

@media (max-width: 566px) {
  .text-container {
    text-align: center;
    /* margin-left: 5%; */
  }
  .me-text .me-desc {
    margin-left: 0;
  }
  .text-container .me-name {
    margin: 0;
  }
  .text-container .lastName {
    font-size: 80px;
    position: relative;
    bottom: 2rem;
  }
  .header {
    height: 900px;
  }
}
#lineh2 {
  position: absolute;
  left: 0;
  top: 13%;
  height: 10px;
  background: var(--third-color);
  animation: lineH 5s 0.5s infinite linear;
}
#lineh3 {
  position: absolute;
  left: 0;
  top: 17%;
  height: 10px;
  background: var(--fifth-color);
  animation: lineH 5s 2s infinite linear;
}
#lineh4 {
  position: absolute;
  right: 0;
  top: 21%;
  height: 10px;
  background: var(--fourth-color);
  animation: lineH 5s 1s infinite linear;
}
#lineh5 {
  position: absolute;
  left: 0;
  top: 25%;
  height: 10px;
  background: var(--third-color);
  animation: lineH 5s 4s infinite linear;
}
#lineh7 {
  position: absolute;
  right: 0;
  bottom: 0%;
  height: 10px;
  background: var(--fourth-color);
  animation: lineH 4s 0s infinite linear;
}
#lineh8 {
  position: absolute;
  left: 0;
  bottom: 4%;
  height: 10px;
  background: var(--third-color);
  animation: lineH 4s 1.5s infinite linear;
}
#lineh9 {
  position: absolute;
  left: 0;
  bottom: 8%;
  height: 10px;
  background: var(--fifth-color);
  animation: lineH 5.5s 2.5s infinite linear;
}
#lineh10 {
  position: absolute;
  right: 0;
  bottom: 12%;
  height: 10px;
  background: var(--fourth-color);
  animation: lineH 4s 3s infinite linear;
}
#lineh11 {
  position: absolute;
  right: 0;
  bottom: 16%;
  height: 10px;
  background: var(--third-color);
  animation: lineH 4s 1s infinite linear;
}
#lineh12 {
  position: absolute;
  left: 0;
  bottom: 20%;
  height: 10px;
  background: var(--fifth-colo);
  animation: lineH 6s 1s infinite linear;
}
@keyframes lineH {
  0% {
    width: 0%;
  }
  100% {
    width: 95%;
    opacity: 0;
  }
}

/* ------------- About -------------- */

.ab-section-container {
  background-color: var(--main-color);
  display: grid;
  text-align: center;
  padding-top: 10rem;
  font-size: 30px;
  color: var(--text-color);
  margin-bottom: 5rem;
}

.about-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 0;
}

.about-container .image-container img {
  width: 42rem;
  margin-top: 0.5rem;
  height: 100%;
}

.carousel {
  position: absolute;
  display: flex;
  transform: translate(-0%, -2%);
  transition: transform 0.5s ease-out;
}

.about-container .image-container {
  position: relative;
  width: 39rem;
  height: 39rem;
  border: 5px solid var(--third-color);
  border-radius: 50px;
  box-shadow: -20px 20px 20px var(--shadow-color);
  overflow: hidden;
}

.about-container .bio {
  font-weight: 400;
  background-image: linear-gradient(
    0.45turn,
    var(--fourth-color),
    var(--main-color),
    var(--main-color),
    var(--fourth-color)
  );
  background-size: 250% 250%;
  padding: 2rem 4rem;
  border-radius: 50px;
  border: 5px solid var(--third-color);
  text-align: left;
  width: 50rem;
  color: var(--text-color);
  font-size: 22px;
  animation: gradient 7.5s ease infinite;
  position: relative;
  transition: transform 0.4s ease;
  box-shadow: -20px 20px 20px var(--shadow-color);
}

.about-container .img-leftScroll,
.about-container .img-rightScroll {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0 1.2rem;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 900;
  font-size: 45px;
  color: white;
  transition: 0.1s ease-in;
  user-select: none;
}

.about-container .img-leftScroll {
  left: 5%;
}

.about-container .img-rightScroll {
  right: 5%;
}

.about-container .img-leftScroll:hover,
.about-container .img-rightScroll:hover {
  transform: scale(120%) translateY(-42%);
  cursor: pointer;
  color: var(--fourth-color);
}

.scrollDisabled {
  display: none;
}

.about-container .bio-box {
  border: 5px solid var(--third-color);
  position: absolute;
  z-index: -1;
  border-radius: 50px;
  top: 140px;
  transform: translateX(-5%);
  background-color: var(--shadow-color);
}

.about-container .bio-container a {
  text-decoration: none;
  font-weight: 700;
  color: var(--fifth-color);
  background-image: linear-gradient(0.25turn, transparent, var(--fifth-color));
  background-size: 0 4px, 100% 4px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.2s linear;
}

.about-container .bio-intro {
  font-weight: 700;
  font-size: 28px;
}

.about-container .bio-name {
  color: var(--fifth-color);
}

.about-container .bio-container .html {
  color: rgb(248, 143, 104);
}

.about-container .bio-container .css {
  color: rgb(143, 169, 255);
}

.about-container .bio-container .javascript {
  color: rgb(253, 255, 153);
}

.about-container .bio-container .react {
  color: rgb(140, 199, 255);
}

.about-container .bio-container .github {
  color: #ffb5b5;
}

.about-container .bio-container .bootstrap {
  color: #b28ee7;
}

.about-container .bio-container .photoshop {
  color: #b1d3ff;
}

.about-container .bio-container .colortext {
  font-weight: bold;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: black;
}

.about-container .bio-container a:hover {
  /* text-shadow: 0 0 20px var(--fifth-color); */
  background-size: 100% 4px, 0 4px;
}

/* ------------- Projects -------------- */

.projects-section-container {
  background-color: var(--main-color);
  display: block;
  text-align: center;
  font-size: 30px;
  color: var(--text-color);
  z-index: 3;
  padding-top: 10rem;
  margin-bottom: 5rem;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0 15%;
}

.project {
  width: 800px;
  justify-self: center;
  height: 700px;
  border: 5px solid var(--third-color);
  background-image: linear-gradient(
    0.45turn,
    var(--fourth-color),
    var(--main-color),
    var(--main-color),
    var(--fourth-color)
  );
  background-size: 250% 250%;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
  animation: gradient 7.5s ease infinite;
  box-shadow: -20px 20px 20px var(--shadow-color);
}

.project h3 {
  position: absolute;
  top: 400px;
  left: 20px;
  z-index: 5;
  font-size: 30px;
  color: var(--fifth-color);
}

.project .description {
  position: absolute;
  top: 470px;
  height: 210px;
  width: 750px;
  padding: 5px;
}

.project p {
  text-align: left;
  margin-top: 0;
  font-size: 24px;
  font-weight: 400;
}

.project .project-img-container {
  margin: 15px;
}

.project .project-img-container img {
  position: relative;
  width: 750px;
  height: 400px;
  z-index: 0;
  border-radius: 50px;
  border: 4px solid var(--text-color);
  object-fit: cover;
  text-align: center;
  display: block;
  margin: auto;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.footer {
  position: absolute;
  bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  position: relative;
  left: 20px;
  width: auto;
  align-self: center;
}

.tag {
  background-color: var(--third-color);
  padding: 5px 15px;
  font-size: 20px;
  border-radius: 20px;
}

.pjbtns {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  width: fit-content;
  gap: 10px;
  justify-self: center;
  margin-right: 10px;
  align-self: flex-end;
}

.pjbtns .btn {
  width: 100%;
  height: 65px;
  padding: 0;
}

.pjbtns .btn a {
  padding: 0.7rem 1rem;
  margin: auto;
  display: block;
  width: 100%;
  height: 100%;
}

.contact-container {
  background-color: var(--main-color);
  display: grid;
  text-align: center;
  justify-content: center;
  padding-top: 10rem;
  font-size: 30px;
  color: var(--text-color);
  margin-bottom: 5rem;
}

.contact-container form {
  margin-top: 5rem;
  width: 100vw;
}

.contact-form button {
  font-size: 24px;
  color: var(--text-color);
  text-decoration: none;
  padding: 1rem 4rem;
  margin: 2rem 1rem 0;
}

.contact-form form input {
  margin-bottom: 2rem;
  font-size: 24px;
  width: 500px;
  border: 5px solid var(--fourth-color);
  background-color: var(--offmain-color);
  color: var(--text-color);
  padding: 1rem;
}

.contact-form form textarea {
  font-size: 24px;
  /* margin-top: 0.5rem; */
  width: 500px;
  border: 5px solid var(--fourth-color);
  background-color: var(--offmain-color);
  color: var(--text-color);
  height: 200px;
  resize: none;
  padding: 1rem;
}

.success {
  border-radius: 30px;
  width: 500px;
  transition: opacity 0.5s;
  padding: 0.5rem;
  margin: 2rem auto 0;
  font-size: 20px;
  color: var(--shadow-color);
}

/* ------------- Footer -------------- */

.footer-container {
  height: fit-content;
  background-color: var(--offmain-color);
  padding: 5rem 10vw;
}

#Footer .footer-topText {
  display: flex;
  justify-items: center;
  flex-wrap: wrap;
  font-size: 20px;
  justify-content: space-around;
  gap: 0 50px;
}

#Footer .footer-topText h1 {
  background-image: none;
  color: var(--text-color);
  margin: 0;
}

#Footer .footer-topText a {
  text-decoration: none;
  color: var(--fourth-color);
  font-size: 20px;
  transition: color 0.4s;
  font-weight: 700;
}

#Footer .footer-navlinks p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

#Footer .footer-name {
  text-align: center;
  color: var(--offtext-color);
}

#Footer .footer-name p {
  margin: 0;
}

#Footer .footer-topText a:hover {
  color: var(--fifth-color);
}

#Footer .footer-bar {
  height: 3px;
  background-color: var(--third-color);
  margin: 4rem 0;
}

#Footer .footer-socials {
  justify-content: center;
  color: var(--text-color);
  text-align: center;
}

#Footer .footer-socials a {
  font-size: 30px;
  margin: 1rem 2rem;
  transition: color 0.4s;
  color: var(--fourth-color);
}

#Footer .footer-socials a:hover {
  color: var(--fifth-color);
}

@media (max-width: 1667px) {
  .projects-container {
    grid-template-columns: 1fr;
  }
  .project {
    width: 800px;
  }
}

@media (max-width: 816px) {
  .about-container {
    width: 100vw;
  }
  .about-container .bio {
    padding: 1rem 1.5rem;
    width: 90vw;
  }
  .project {
    width: 90vw;
  }
  .project .project-img-container img {
    width: 100%;
  }

  .project .description {
    width: 83vw;
  }

  .project {
    height: calc(1050px - 20vw);
  }
}

@media (min-width: 1595px) {
  .about-container .bio-container {
    margin-left: 10%;
  }
  /* .about-container .bio:hover {
    transform: translateX(-5%) translateY(5%);
  }

  .about-container img:hover {
    transform: translateX(-6.5%) translateY(5.5%);
  } */
}

@media (max-width: 410px) {
  .pjbtns .btn a {
    font-size: 6vw;
  }
}

@media (max-width: 570px) {
  .project h3 {
    font-size: 5.5vw;
  }
  .pjbtns .btn {
    padding: 0 0 4px 0;
    height: fit-content;
  }

  .pjbtns {
    grid-template-columns: none;
    margin-right: 0;
  }

  .contact-form button {
    width: 90vw;
  }

  .contact-form form input {
    width: 90vw;
  }

  .contact-form form textarea {
    width: 90vw;
  }
  .success {
    width: 90vw;
  }
}

@media (max-width: 690px) {
  .about-container .image-container {
    width: 90vw;
    height: 90vw;
  }

  .carousel img {
    width: 100vw !important;
  }
  /* .projects-section-container {
    padding: 3rem 10vw 0;
  } */
}

@media (max-width: 1433px) {
  .about-container .bio-container {
    margin-top: 3%;
  }

  /* .bio {
    box-shadow: -20px 20px 20px var(--shadow-color);
  }

  .about-container .image-container img {
    box-shadow: -20px 20px 20px var(--shadow-color);
  } */
  .bio-box {
    opacity: 0;
  }
  .img-box {
    opacity: 0;
  }
}

@media (min-width: 1434px) and (max-width: 1594px) {
  .about-container .bio-container {
    left: 2vw;
  }
}
